<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Home</title>

<link rel="stylesheet" type="text/css" href="./css/master_css.css">


</head>

<body>

	<div>
		<table>

			<tr>
				<div id="topBanner"></div>

			</tr>
			<tr>
				<td><img alt="edge_logo" id="logo" src="./images/edge_sher.png"
					width="150pt" height="80pt"></td>
				<td id="title">
					<h1 id="hdr">Edge Sheridan</h1>
				</td>
				<td></td>
			</tr>
		</table>

	</div>
	<ul id="navBar">
		<li><a href="/" th:href="@{/}" class="active">Home</a></li>
		<li><a href="/" th:href="@{/}">Events</a></li>
		<li><a href="/" th:href="@{/}">About Us</a></li>
		<li id="nav_login">

			<div class="dropdown">
				<button class="dropbtn">Login</button>
				<div class="dropdown-content">
					<a href="/user" th:href="@{/user}">Administrator</a>
					 <a href="/user" /user>Members</a> 
				</div>
			</div></li>



		<li id=""><a href="/register" id="register"
			th:href="@{/register}">Register</a></li>

	</ul>


	<div class="grid-container">

		<div class="box1">

			<img alt="img1" id="boxImg1" src="./images/box1.jpg" width="900pt"
				height="450pt">

		</div>
		<div class="box2">

			<h1>Discover your potentials...</h1>

		</div>
		<div class="box3">

			<h1>Ace your creativity...</h1>

		</div>
		<div class="box4">

			<img alt="img4" id="boxImg1" src="./images/box4.jpg" width="900pt"
				height="450pt">

		</div>


		<div class="item5">
			<hr>
			<p>Copyrights &copy;2020 - Binod Shrestha and Brihan Baron</p>

		</div>
	</div>


</body>

</html>